* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: url(WhatsApp\ Image\ 2025-10-04\ at\ 15.21.11.jpeg);
    }
    .page-heading {
      color: #4A2B1A;
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
    }

    .signup-container {
      background: #fff;
      padding: 2rem;
      border-radius: 12px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
      width: 380px;
    }

    .signup-container h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
      color: #444;
      font-weight: 600;
    }

    .form-group input,
    .form-group select {
      width: 100%;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #ccc;
      outline: none;
      transition: border 0.3s;
    }

    .form-group input:focus,
    .form-group select:focus {
      border: 1px solid #2575fc;
    }

    .btn {
      width: 100%;
      padding: 10px;
      background: #2D1B12;
      color: #D3A47B;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      transition: 0.3s;
    }

    .btn:hover {
      background: #1a5edb;
    }

    .error {
      color: red;
      font-size: 14px;
      margin-top: 5px;
      display: none;
    }

    .success {
      color: green;
      text-align: center;
      margin-top: 10px;
      display: none;
    }